[Desktop Entry]
Type=Application
Name=Teams
Exec=/home/tomsmithhisler/.local/bin/Teams-webapp
Terminal=false
Categories=Network;WebBrowser;
StartupWMClass=chrome-teams.microsoft.com__-Profile_1
Icon=chrome-webapp-Teams
