[Desktop Entry]
Type=Application
Name=Outlook
Exec=/home/tomsmithhisler/.local/bin/Outlook-webapp
Terminal=false
Categories=Network;WebBrowser;
StartupWMClass=chrome-outlook.office.com__-Profile_1
Icon=chrome-webapp-Outlook
