[Desktop Entry]
Version=1.4
Type=Application
Name=Outlook
Exec=/home/tomsmithhisler/.local/bin/Outlook-webapp
Terminal=false
Categories=Network;WebBrowser;
StartupWMClass=chrome-outlook.office.com__-Default
Icon=chrome-webapp-Outlook
