[Desktop Entry]
Version=1.4
Type=Application
Name=Teams
Exec=/home/tomsmithhisler/.local/bin/Teams-webapp
Terminal=false
Categories=Network;WebBrowser;
StartupWMClass=chrome-teams.microsoft.com__-Default
Icon=chrome-webapp-Teams
